<section class="todoapp">
    <header class="header">
      <h1>TO DO LIST</h1>
      <form (submit)= "createItem(newTask); newTask=''">
        <input  
                name        = "newTodoInput"
                class       = "new-todo"
                placeholder = "Enter a new task..."
                autofocus #lab
                [(ngModel)] = "newTask"/>
      </form>
    </header>
    <section *ngIf="todoListObs | async as tdl" class="main" >
      <input  class="toggle-all"
              type="checkbox"
              name="toggleAll"
              />
      <label for="toggleAll">Mark all as complete</label>
      <ul class="todo-list">
        <li *ngFor="let item of tdl.displayedItems; index as i" [class.completed]="item.isDone" >
          <app-todo-item [data] = "item"
                        (remove) = "delete(item)"
                        (update)="update(item)"
                         ></app-todo-item>
        </li>
      </ul>
    </section>
    <footer class="footer">
      <span class="todo-count"><strong></strong>{{actifs()}} Left</span>
      <ul class="filters">
        <li>
          <a class="filterAll" (click)="setFilter(fAll)"> All {{ tous() }}</a>
        </li>
        <li>
          <a class="filterActives" (click)="setFilter(fActive)">Actifs {{ actifs() }}</a>
        </li>
        <li>
          <a class="filterCompleted" (click)="setFilter(fCompleted) ">Completed {{ completes() }} </a>
        </li>
      </ul>
      <button class="clear-completed" (click) = "supprimeCoches()">Clear completed</button>
    </footer>
  </section>
  
