<div class="module">
    <div class="title">
      <h1>ToDo List</h1>
    </div>
  
  <div class="container">
    <div *ngIf="todoListObs | async as td">
          <input type= "text" [(ngModel)] = "newTask" placeholder="Add new task.." (keyup.enter)= "create(newTask)"/>
          <!-- (keyup.enter)= "create(e, newTask) -->
          <!-- <button (click) = "create(i, newTask)"> Add Task</button> -->

          <!-- <button (click) = "create(newTask)"> Add Task</button> -->
    <!-- </form> -->
  </div>
  </div>
  
  <hr class="separator">
  
  <section *ngIf="todoListObs | async as tdl">
    <h1 class="title">{{tdl.label}} :</h1>
    <ul class="taskList">
      <li *ngFor="let item of tdl.items; index as i">
        {{ item.label }}
        <button (click) = "done(item)"> Fait </button>
        <div *ngIf="item.isDone"> Done</div>
        <button (click) = "delete(item)"> Remove task </button>
      </li>
    </ul>
  </section>
  </div>

