
<div class="view" >

    <input  class = "toggle"
            type  = "checkbox"
            name  = "done"
            (change) = "updateItem(data)"
            [checked]="data.isDone"
    />
    <label  class="texte" (dblclick)="isEditing()">
            {{ data.label }}
    </label>
    <button class="destroy" (click) = "destroy(data)"></button>
  </div>
  <form (ngSubmit)="updateLabel(newTextInput.value)"
        (focusout)="updateLabel(data.label)">
    <input  #newTextInput
            name      = "newTextInput"
            class     = "edit"
            [value]="this.data.label"

    />{{ newTextInput.focus() }}
  </form>
  